.li {
  display: flex;
  padding: 5px 2px;
}
.buttonpage {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  background-color: rgba(212, 3, 3, 0.5);
  padding: 2px;
  cursor: pointer;
  border-radius: 2px;
}
.a {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
